table{
    border: 1px solid black;
    border-collapse: collapse;
    background-image: url('images/bg-move-the-box.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
td{
    border: 1px solid white;
    width: 80px;
    height: 80px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
td.box-1{
    background-image: url('images/box-1.png');
}
td.box-2{
    background-image: url('images/box-2.png');
}
td.box-03{
    background-color: brown;
}
 div#buttons{
     text-align: center;
 }

