table{
    border: 1px solid black;
    border-collapse: collapse;
    background-image: url('images/bg-move-the-box.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
td{
    border: 1px solid white;
    width: 81px;
    height: 81px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.box{
    width: 80px;
    height: 80px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
}
.box-999 {
    background-color: black;
}
.box-1{
    background-image: url('images/box-1.png');
}
.box-2{
    background-image: url('images/box-2.png');
}
.box-3{
    background-image: url('images/box-3.jpg');
}
.box-4{
    background-image: url('images/box-4.jpg');
}
.box-5{
    background-image: url('images/box-5.jpg');
}
.box-6{
    background-image: url('images/box-6.jpg');
}
div#buttons{
    display: grid;
    width: 81px;
    height: 81px;
    border: 1px solid red;
    background-color: rgba(225, 225, 225, 0.7);
    color: black;
    position: absolute;
    top: -300px;
    left: -300px;
    font-size: 20px;
}
div#buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
div#buttons div span{
    color: color;
    font-weight: bolder;
    font-size: 20px;
}
div#btnU{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; 
}
div#btnD{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3; 
}
div#btnL{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2; 
}
div#btnR{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2; 
}


